.main {
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media  (min-width: 1120px) {
    .main {
      min-width: 1100px;
    } 
  }